<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <!--checking for whether user is logged in-->
        <%if (user) {%>
          <!--If user is already logged in display username and logout-->
         <class style="position: absolute; right: 150px ; top:auto " ><strong>Logged in as Tiny App User!:<%=user.email%></strong> </class>
         <form method="POST" action ="/logout" style ="position :absolute ;right : 50px">
          <input type = "submit" value = "Logout"> </form>
          <%} else{%>
            <!--If user is  not logged in display login form-->
            <a  href="/login" style ="position :absolute;right : 150px; color :antiquewhite">Login</a>
            <a href="/register"style ="position :absolute;right : 50px; color : antiquewhite">Register</a>
        
        <%}%>
      </div>
    </div>
  </nav>
</header>